.new-sidebar {
  width: 230px;
  background: #222121;
  bottom: 0;
  padding: 0 0 20px 0;
  position: fixed;
  transition: all 0.2s ease-in-out;
  top: 80px;
  box-shadow: 0 0 25px 0 rgba(73, 80, 87, .1);
  z-index: 99999;
  height: 100vh;
  overflow-y: auto;
  @media screen and (max-width: 992px) {
    transform: translateX(-100%);
    top: 0px;
  }
  &.mob-menu-active {
    @media screen and (max-width: 992px){
      transform: translateX(0%);
    }
  }
  &.active {
    width: 80px !important;

    .metismenu {
      .menu-title {
        display: none;
      }
      li {
        a {
          span {
            display: none;
          }
          .arrow-icon {
            display: none;
          }
        }
        .nav-second-level {
          padding: 0 !important;
          li {
            a {
              padding: 13px 20px !important;
            }
          }
        }
      }
    }
  }


  .metismenu {
    padding: 0 !important;
    list-style: none !important;
    .menu-title {
      padding: 10px 20px;
      letter-spacing: .05em;
      pointer-events: none;
      cursor: default;
      font-size: 11px;
      text-transform: uppercase;
      color: #a3a6b7;
      font-weight: 600;
    }
    li {
      a {
        color: #a3a6b7;
        display: block;
        padding: 13px 20px;
        margin: 2px 0;
        position: relative;
        -webkit-transition: all .4s;
        transition: all .4s;
        font-size: 14px;
        display: flex !important;
        align-items: center;
        &:hover {
          color: #0f93ff;
          text-decoration: none;
          background-color: #f5f5f5;
        }
        &.active {
          color: #0f93ff !important;
        }
        i {
          display: inline-block;
          line-height: 1.0625rem;
          margin: 0 10px 0 3px;
          text-align: center;
          vertical-align: middle;
          width: 20px;
          font-size: 18px;
        }
        .arrow-icon {
          margin-left: auto;
          i {
            margin: 0 !important;
            font-size: 12px;
          }
          &.rotate-90 {
            transform: rotate(90deg);
          }
        }
      }
    }

    .dropdown-item {
      margin: 0;
      .dropdown-toggle {
        &.active {
          color: #0f93ff;
        }
      }
      .btn-dropdown {
        width:100%;
        background: transparent;
        border: none;
        padding: 13px 20px !important;
        text-align: left;
        color: #a3a6b7;
        font-size: 14px;
      }
      .btn-dropdown:focus, .btn-dropdown:active {
        box-shadow: none;
      }
    }

    .nav-second-level{
      position: unset;
      width: 100%;
      box-shadow: none;
      border: none;
      padding: 0px !important;
      margin: 0 !important;
      background-color: transparent !important;
      padding-left: 12px !important;
      li {
        a {
          padding: 12px 20px !important;
          &.active {
            color: #0f93ff;
          }
          &:hover {
            background: transparent !important;
            color: #0f93ff;
          }
        }
      }
    }

  }
}
